<div>
  <div class="wrapper">
    <div class="container1">
      <img src="../assets/images/1.jpg" alt="">
      <img src="../assets/images/2.jpg" alt="">
      <img src="../assets/images/3.jpg" alt="">
    </div>

    <div class="container2">
      <img src="../assets/images/4.jpg" alt="">
      <img src="../assets/images/5.jpg" alt="">
      <img src="../assets/images/6.jpg" alt="">
    </div>

    <div class="container3">
      <img src="../assets/images/7.jpg" alt="">
      <img src="../assets/images/8.jpg" alt="">
      <img src="../assets/images/9.jpg" alt="">
    </div>

    <div class="container4">
      <img src="../assets/images/10.jpg" alt="">
      <img src="../assets/images/11.jpg" alt="">
      <img src="../assets/images/12.jpg" alt="">
    </div>
  </div>
  <footer id="sticky-footer" class="fixed-bottom py-2 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</div>