.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container1{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.container1 img{
    flex: 1;
}

.container2{
    display: flex;
    flex-direction: row;
}


.container2 img{
    flex: 1;
}


.container3{
    display: flex;
    flex-direction: row;
}


.container3 img{
    flex: 1;
}


.container4{
    display: flex;
    flex-direction: row;
}


.container4 img{
    flex: 1;
}